@mixin setFont($typeface, $size, $weight) {
    font-family: $typeface;
    font-size: $size;
    font-weight: $weight;
    
}

@mixin setFlex ($flexType, $justifyType, $alignType, $direction){
    display: $flexType;
    justify-content: $justifyType;
    align-items: $alignType;
    flex-direction: $direction;
}


@mixin setProbarChild($bgval, $colorVal, $chartFill, $chartTransform, $timeBG) {
        background-color: $bgval;
       color: $colorVal;

        .chart{
             svg{
              fill: $chartFill;
            transform:$chartTransform;
                 }
           }

        .time-area{
                &::before{
                    background-color: $timeBG;
                        }
        }
    
}

@mixin setSCOption($strokeColor, $transFormVal, $zindex) {
    stroke: $strokeColor;
    transform: $transFormVal;
    z-index: $zindex;
}

@mixin SetTagOptions($leftVal, $Contentbg , $tagColor) {
    .tag{
        left:$leftVal;
        .content{
            background-color: $Contentbg;
            &::after{
                background-color: $Contentbg;
            }
        }

        .tag-title{
            color: $tagColor;
            &::before{
                background-color: $tagColor;
            }
        }
    }
    
}