@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;500;600;700&display=swap');
@import "variables.scss";
@import "mixins.scss";


html{
    font-size: 16px;
}

body{
    background-color:$background-white;
    font-family:$main-font;
}

.wrapper{
    display:flex;

    .side-nav{
        width: 110px;
        border-right: 2px solid $lighter-grey;

        .logo{
            margin-bottom: 3em;
            padding: 1em 0;

            img{
                height: 4em;
                margin :0 auto;
            }
        }

        .menu{
            ul{
                li{
                    margin-bottom: 2.6em;
                    a{
                        display: block;
                        position: relative;
                        img{
                            height: 1.7em;
                            margin: 0 auto;
                            filter: grayscale(1);
                        }
                        .stroke{
                            height: 1.7em;
                            width: 3px;
                            border-radius: 6px;
                            background-color: $dark-blue;
                            position: absolute;
                            right: 0;
                            top: 0;
                            overflow: hidden;
                            display: none;

                            .half{
                                display: block;
                                height: 50%;
                                width: inherit;
                                background-color: $normal-green;
                                position: absolute;
                                bottom: 0;
                            }
                        }
                    }

                    &:hover {
                        img{
                            filter: grayscale(0);
                        }
                    }

                    &.active{
                        a{
                            img{
                                filter:grayscale(0) ;
                            }

                            .stroke{
                                display: block;
                            }
                        }
                    }
                }
            }
        }


    }

    .content{
        width: 100%;
        .main{
            height: 100vh;
            padding: 2.5em 3em 0em 3em;
            border-right: 2px solid $lighter-grey;

            header{
                .title{

                    h1{
                        font-family: $main-font;
                        font-size: 2.15em;
                        font-weight: 600;
                        text-transform: capitalize;
                        color: $secondary-text;
                        line-height: 1.2em;
                    }

                    span{
                        font-family: $main-font;
                        font-size: 1em;
                        font-weight: 500;
                        display: block;
                        color: $primary-text;
                        margin-top: 1em;
                    }
                    
                }
            }
            
        }

        .profile-area{
            
        }
    }
}