@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;500;600;700&display=swap');
@import "variables.scss";
@import "mixins.scss";


html{
    font-size: 16px;
}

body{
    background-color:$background-white;
    font-family:$main-font;
}

.wrapper{
    display:flex;

    .side-nav{
        width: 110px;
        border-right: 2px solid $lighter-grey;

        .logo{
            margin-bottom: 3em;
            padding: 1em 0;

            img{
                height: 4em;
                margin :0 auto;
            }
        }

        .menu{
            ul{
                li{
                    margin-bottom: 2.6em;
                    a{
                        display: block;
                        position: relative;
                        img{
                            height: 1.7em;
                            margin: 0 auto;
                            filter: grayscale(1);
                        }
                        .stroke{
                            height: 1.7em;
                            width: 3px;
                            border-radius: 6px;
                            background-color: $dark-blue;
                            position: absolute;
                            right: 0;
                            top: 0;
                            overflow: hidden;
                            display: none;

                            .half{
                                display: block;
                                height: 50%;
                                width: inherit;
                                background-color: $normal-green;
                                position: absolute;
                                bottom: 0;
                            }
                        }
                    }

                    &:hover {
                        img{
                            filter: grayscale(0);
                        }
                    }

                    &.active{
                        a{
                            img{
                                filter:grayscale(0) ;
                            }

                            .stroke{
                                display: block;
                            }
                        }
                    }
                }
            }
        }


    }

    .content{
        width: 100%;
        .main{
            height: 100vh;
            padding: 2.5em 3em 0em 3em;
            border-right: 2px solid $lighter-grey;

            header{
                .title{

                    h1{
                        @include setFont($main-font, 2.15em, 600);
                        text-transform: capitalize;
                        color: $secondary-text;
                        line-height: 1.2em;
                    }

                    span{
                        @include setFont($main-font, 1em, 500);
                        display: block;
                        color: $primary-text;
                        margin-top: 1em;
                    }
                    
                }

                .search-bar{
                    .grp{
                        position: relative;

                        img{
                            height: 1.35em;
                            display: inline-block;
                            position: absolute;
                            left: 15px;
                            top: 50%;
                            transform: translate(0,-50%);
                        }

                        input{
                            display: block;
                            padding: 14px 50px 14px 54px;
                            border-radius: 50px;
                            width: 100%;
                            outline: none;
                            background: linear-gradient(90deg, $off-blue, #f4f7fc);

                        }
                    }
                }
            }

            .dashboard-area{
                margin-top: 3em;
                .productivity-listing{
                    .pro-bar{
                        background-color: $light-green;
                        padding: .95em;
                        color: $secondary-text;
                        margin-bottom: 1.2em;
                        @include setFlex(flex, space-between, center, row);
                        box-sizing: border-box;
                        border-radius: 1em;
                        box-shadow: 0 6px 10px rgb(1 86 91 / 5%);

                        &:nth-child(2){
                            @include setProbarChild($normal-green, $background-white, $light-green, scale(-1,1), $light-green);
                            
                        }
                        &:nth-child(3){
                            @include setProbarChild($dark-blue, $background-white, $light-green, scale(-1,1) rotate(180deg), $primary-text);
                        }
                    }

                }
                .percent-area{
                    @include setFlex(flex, flex-start, center, row);
                    width: 50%;

                    .date-tag{
                        @include setFlex(flex, initial, center, column);
                        background-color: $background-white;
                        padding: .6em 1.25em;
                        box-sizing: border-box;
                        border-radius: .7em;
                        margin-right: 2.5em;
                        position: relative;
                        box-shadow: 4px 6px 10px rgba(0,0,0,0.2);

                        .date, .day{
                            display: block;
                            position: relative;
                            z-index: 99;
                        }

                        .day{
                            text-transform: capitalize;
                            font-size: .875em;
                            font-weight: 500;
                            color: $primary-text;
                        }

                        .date{
                            font-size: 2em;
                            font-weight: 600;
                            color: $secondary-text;
                        }

                        &::after{
                            content: "";
                            height: 40px;
                            width: 40px;
                            display: block;
                            background-color: $background-white;
                            position: absolute;
                            top: 50%;
                            right: -18px;
                            border-radius: 4px;
                            transform: translate(0, -50%) rotate(45deg) skew(24deg, 24deg);
                        }


                    }

                    .fancy-chart{
                        .chart-title{
                            text-transform: capitalize;
                            @include setFont($main-font, .875em, 600)
                        }

                        .chart{
                        @include setFlex(flex, space-between, flex-start, row);
                        position: relative;
                        top: .7em;

                            svg{
                                fill: $dark-blue;
                                height: 1em;
                                width: 5.6em;
                            }

                            .percent-count{
                                display: block;
                                position: relative;
                                left: 1em;
                                bottom: .5em;
                                background-color: $background-white;
                                padding: 3px 9px;
                                box-sizing: border-box;
                                border-radius: 20px;
                                font-size: .85em;
                                font-weight: 600;
                                color: $secondary-text;
                            }
                        }
                    }


                }

                .time-area{
                    @include setFlex(flex,flex-start,flex-start,initial);
                    width: 48%;
                    position: relative;

                    .grp{
                        margin: 1em;
                    
                        .title{
                            @include setFont($main-font, .775em, 600);

                        }
                        .time{
                            @include setFont($main-font, 1em, 700);
                            display: block;


                        }
                    }

                    &::before{
                        content: "";
                        position: absolute;
                        height: 50%;
                        width: 1px;
                        top: 50%;
                        transform: translate(0, -50%);
                        background-color: $normal-green;
                    }
                }

                .h-title{
                    @include setFont($main-font, 1.75em, 600);
                    color: $secondary-text;
                    text-align: center;
                }

                .monthly-statistics{
                    .statistics-chart{
                        height: 9.5em;
                        width: 9em;
                        margin: 0 auto;
                        margin-top: 1.5em;
                        margin-bottom: 1.65em;
                        position: relative;
                        @include setFlex(flex, center, center, initial);

                        svg {
                            fill:none;
                            stroke: $dark-blue;
                            stroke-width: 0.1em;
                            stroke-dasharray: 62px;
                            stroke-linecap: round;
                            transform: rotate(65deg);
                            position: absolute;
                            z-index: 99;

                            &:nth-child(2){
                                @include setSCOption($normal-green,rotate(35deg),98);
                            }

                            &:nth-child(3){
                                @include setSCOption($light-green,rotate(0deg),97);

                            }

                            &:nth-child(4){
                                @include setSCOption($off-blue,rotate(0deg),96);
                                stroke-dasharray: 100px;
                            }


                        }

                        .decal-circle{
                            height: 4.5em;
                            width: 4.5em;
                            display: inline-block;
                            background-color: $light-green;
                            border-radius: 50%;
                            position: absolute;
                        }

                        .rocket{
                            height: 4em;
                            position:absolute;
                            bottom: 1em;
                        }
                    }
                    .statistics-progress {
                        @include setFlex(flex, space-between, initial, column);
                        height: 9.3em;
                        
                        .stat{
                            .top-area{
                                @include setFlex(flex, space-between, initial, initial);
                                .stat-title {
                                    color: $primary-text;
                                    font-weight: 500;
                                }
                                .stat-percentage {
                                    color: $secondary-text;
                                    font-weight: 700;
                                }
                            }

                            .stat-line{
                                margin-top: 0.35em;


                                .outer{
                                    display: block;
                                    width: 100%;
                                    height: 0.4em;
                                    border-radius: 25px;
                                    background-color: $lighter-grey;
                                    overflow: hidden;

                                    .inner{
                                        display: block;
                                        height: inherit;
                                        width: 40%;
                                        border-radius: 15px;
                                        background-color: $normal-green;
                                    }
                                }       
                            }

                            &:nth-child(2){
                                .outer{
                                    .inner{
                                        width: 80%;
                                        background-color: $dark-blue;

                                    }
                                }
                            }
                            &:nth-child(3){
                                .outer{
                                    .inner{
                                        width: 25%;
                                        background-color: $light-green;

                                    }
                                }
                            }

                        }

                    }
                }

                .upcoming-activity{
                    .h-title{
                        text-align: left;
                    }

                    .activity-chart{
                        position: relative;
                        display: flex;
                        margin-top: 3em;
                        height: 7.9em;

                        table{
                            height: 25.6em;
                            position: relative;
                            left: 50px;

                            thead{
                                .graph-time{
                                    th{
                                        position: relative;
                                        text-align: left;
                                        left: -20px;
                                        bottom: 1.75em;
                                        @include setFont($main-font,0.9em, 600);
                                        color:$primary-text;
                                    }

                                }

                            }
                            tbody{
                                .graph-col{
                                    .bar{
                                        width: 5em;
                                        border-left: 2px solid $lighter-grey

                                    }
                                }

                            }
                        }

                        .graph-days{
                            position: absolute;
                            top: 1.25em;
                            bottom: 0;
                            width: 100%;
                            // overflow: hidden;

                            .g-days{
                                    height: 2.15em;
                                    margin-bottom: 1.1em;
                                    @include setFlex(flex, initial, center, initial);
                                .title{
                                    width: 2.2em;
                                    @include setFont($main-font, 0.9em, 500);
                                    color: $primary-text;

                                    &.active{
                                        font-weight: 700;
                                        color: $dark-blue
                                    }

                                }

                                .tag{
                                    position: relative;
                                    left: 1.65em;

                                    .content{
                                        background-color:$light-green ;
                                        height: 3em;
                                        padding: 0.8em;
                                        @include setFlex(flex, center, center, initial);
                                        text-align: center;
                                        border-radius: 0.8em;

                                        .tag-title{
                                            @include setFont($main-font, 0.9em, 600);
                                            color: $dark-blue;
                                            position: relative;

                                            &::before{
                                                content: "";
                                                position:absolute;
                                                height: 0.4em;
                                                width: 0.4em;
                                                background-color: $dark-blue;
                                                display: block;
                                                border-radius: 50%;
                                                top: 50%;
                                                transform: translate(0,-50%);
                                                left: -0.6em;
                                            }


                                        }

                                        &::after{
                                            content: "";
                                            height: 34px;
                                            width: 30px;
                                            display: block;
                                            background-color: $light-green;
                                            position: absolute;
                                            top: 50%;
                                            transform: translate(0,-50%)  rotate(45deg) skew(5deg, 5deg);
                                            right: -15px;
                                            border-radius: 6px;

                                        }
                                    }
                                }


                            }

                            
                        }

                    }

                    
                }

                }
            
        }

        .profile-area{
            
        }
    }
}